@use 'variables';

.buttons{
    padding: 8px 12px;
    border: 1px solid #888;
    color: #fff;
    background-color: transparent;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;


    &--primary{
        margin-right: 55px;
    }

    &--secundary{
        margin: 8px;
        background-color: #f40612;
        border: 1px solid #f40612;
        border-radius: 2px;

    }

    &:hover{   
        filter: brightness(80%);
    }
}