@use 'hero';
@use 'reset';
@use 'variables';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: variables.$corDeFundo;
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variables.$corTextoPrincipal;
}

@mixin title($fontSize: 40px){
    @include text(24px);
    color: variables.$corTextoPrincipal;
}

.text--big{
    @include text(18px);
}

.text{
    @include text();

    span{
        color: variables.$corTextoSecundario;
    }
}

.text--small{
    @include text(14px);
}

.link-text{
    @include text(18px);
    color: variables.$corTextoSecundario;
    text-decoration: underline
}

.title--big{
    @include title(30px);
}

.title{
    @include title();
}

.title--small{
    @include title(16px);
}

